In [1]:
import table_unit as tu

In [2]:
t = tu.TableUnit('test')

In [3]:
t.columns

['a', 'b']

In [4]:
t.schema_name

'mlaas_limit'

In [5]:
t.table_name

'datamart'

In [6]:
t.create_sql

"CREATE TABLE IF NOT EXISTS mlaas_limit.datamart(\n\ta\tINT,\n\tb\tVARCHAR);\nCREATE INDEX ON mlaas_limit.datamart ('a');"

In [7]:
t.select_sql

"SELECT 'a', 'b' FROM mlaas_limit.datamart;"

In [8]:
t.drop_sql

'DROP TABLE IF EXISTS mlaas_limit.datamart'

In [9]:
t.grant_sql

'GRANT ALL ON mlaas_limit.datamart TO 22403'